@import "./variables.css";
@import "./font.css";
@import "./defaults.css";
@import "./top-bar.css";
@import "./navbar.css";
@import "./course_box.css";
@import "./footer.css";
@import "./helper.css";
@import "./Breadcrumb.css";
@import "./sideBarCoursesBox.css";

/* Start Main Info Section styles */
.article {
  padding: 2.4rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.article__title {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--dark-color);
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 1rem;
}
.article__header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.article-header__item {
  margin-left: 2rem;
}
.article-header__icon{
  font-size: 1.7rem;
  color: #c7c7c7;
}
.article-header__text{
  font-size: 1.2rem;
  color: #8f8f8f;
}
.article__banner{
  margin-top: 4rem;
}

/* Finish Main Info Section styles */

/* Start Side bar styles */
.course-info {
  overflow: hidden;
}

.course-info__courses-title {
  position: relative;
}
.course-info__courses-title::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 39px;
  background-color: var(--primary-color);
  border-radius: 8px 0 0 12px;
  -webkit-border-radius: 8px 0 0 12px;
  -moz-border-radius: 8px 0 0 12px;
  -ms-border-radius: 8px 0 0 12px;
  -o-border-radius: 8px 0 0 12px;
  top: -5px;
  right: -27px;
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
}

.sidebar-articles__list {
  margin-top: 2rem;
}
.sidebar-articlles__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.sidebar-articlles__item:hover {
  padding-right: 2rem;
  background-color: #f8f9fa;
}
.sidebar-articlles__item:hover .sidebar-articlles__icon {
  color: var(--primary-color);
}
.sidebar-articlles__icon {
  font-size: 1.4rem;
  color: #909aa7;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.sidebar-articlles__link {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.last-articles__list {
  margin-top: 2rem;
}
.last-articles__item {
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}
.last-articles__link {
  font-size: 1.5rem;
}

/* Finish Side bar styles */
