/* start Default styles */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    direction: rtl;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    outline: none;
  }
  a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
  }
  a:hover {
    color: #1e83f0;
  }
  i {
    user-select: none;
  }
  /* finnish Default styles */