/* start Helper Classes */
.title {
    color: #444446;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
  }
  .title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
  }
  .title::after {
    content: "";
    width: 100%;
    max-width: 250px;
    height: 60%;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(43, 206, 86, 0.2);
  }
  /* finish Helper Classes */