/* start Default styles */
@import "./variables.css";
@import "./font.css";
@import "./top-bar.css";
@import "./navbar.css";
@import "./landing.css";
@import "./latestCourses.css";
@import "./aboutUs.css";
@import "./popular&pre-sell.css";
@import "./articles.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
a:hover {
  color: #1e83f0;
}
i {
  user-select: none;
}
/* finnish Default styles */

/* start Helper Classes */
.title {
  color: #444446;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  right: -1rem;
  width: 0.4rem;
  height: 4.4rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -o-transform: rotate(8deg);
}
.title::after {
  content: "";
  width: 100%;
  max-width: 250px;
  height: 60%;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(43, 206, 86, 0.2);
}
/* finish Helper Classes */

