/* start Default styles */
@import "./variables.css";
@import "./font.css";
@import "./top-bar.css";
@import "./navbar.css";
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}
a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
a:hover {
  color: #1e83f0;
}
i {
  user-select: none;
}
/* finnish Default styles */
/* start landing styles */
.landing{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/background_landing.jfif) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 9rem 0;
  color: var(--white-color);
  
}
.landing__title{
  font-size: 3.4rem;
  font-weight: bold;
}
.landing__subtitle{
  font-size: 1.8rem;
  margin-top: 0.3rem;
}
.landing__searchbar{
  margin: 3.5rem auto;
  width: 700px;
  position: relative;
}
.landing__searchbar-input{
  width: 100%;
  padding: 2.5rem;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.landing__searchbar-btn{
  position: absolute;
  border: none;
  background-color: var(--primary-color);
  top: 0.7rem;
  left: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.landing__searchbar-icon{
  font-size:2.8rem ;
  color: var(--white-color);
}
.landing-status{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.landing-status__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-status__item svg {
  fill: var(--white-color);
}
.landing-status__count{
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.landing-status__text{
  font-weight: bold;
}
/* finnish landing styles */

